In [24]:
## import Titanic data
FileLoc = "/Users/miyamoto/Projects/sample/kaggle_sample/titanic/"
FileName = 'train.csv'
File = paste(FileLoc,FileName,sep="")
titanic.df <-read.delim(File,header=TRUE,sep=",", stringsAsFactors=FALSE)

In [25]:
head(titanic.df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [26]:
## drop any nulls
titanic.df = titanic.df[complete.cases(titanic.df[,c('Survived','Pclass','Sex','Fare')]),]

## define variables as factors
titanic.df$survived = as.factor(titanic.df$Survived)
titanic.df$sex = as.factor(titanic.df$Sex)
titanic.df$pclass = as.factor(titanic.df$Pclass)

head(titanic.df[,c('Survived','Pclass','Sex')])

  Survived Pclass Sex
1 0        3      male
2 1        1      female
3 1        3      female
4 1        1      female
5 0        3      male
6 0        3      male

In [27]:
xtabs(Survived~Pclass+Sex,
      setNames(aggregate(data=titanic.df, 
                         as.numeric(as.character(Survived))~Sex+Pclass, FUN=mean),
               c('Sex','Pclass','Survived')))

      Sex
Pclass    female      male
     1 0.9680851 0.3688525
     2 0.9210526 0.1574074
     3 0.5000000 0.1354467

In [29]:
#install.packages('bnlearn')
library(bnlearn)

source("http://bioconductor.org/biocLite.R")
biocLite("Rgraphviz")

# create an empty PGM skeleton
res = empty.graph(names(titanic.df[,c('Survived','Pclass','Sex')]))

# define probabilistic relationships to encode
modelstring(res) = "[Pclass][Sex][Survived|Pclass:Sex]"

# fit to dataset
titanic.bn <- bn.fit(res, data=titanic.df[,c('Survived','Pclass','Sex')])

# what does our PGM look like? 
graphviz.plot(titanic.bn)

ERROR: Error in library(bnlearn): there is no package called ‘bnlearn’