In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas import DataFrame
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

pal = sns.color_palette()

In [2]:
myformatter = lambda x: '%4.1f' % x

In [3]:
df = pd.DataFrame(np.random.randn(10,5), columns=['A', 'B', 'C', 'D', 'E'])
df.head()

          A         B         C         D         E
0 -1.456201  1.236410  0.085549  0.598883  1.454858
1 -0.368926 -1.124766 -0.877651 -0.362187  1.593439
2 -0.013806 -0.541570 -0.699984 -1.079135 -1.936965
3 -2.364236  0.102080  0.155478  1.248094  0.532894
4  0.358956  0.073055 -1.827824  1.691470 -0.386860

In [4]:
df.to_string(formatters={'A': myformatter, 'C': myformatter}, index=False)
print(df.to_string(formatters={'A': myformatter, 'C': myformatter}))
df.to_csv("formated.csv")

     A         B    C         D         E
0 -1.5  1.236410  0.1  0.598883  1.454858
1 -0.4 -1.124766 -0.9 -0.362187  1.593439
2 -0.0 -0.541570 -0.7 -1.079135 -1.936965
3 -2.4  0.102080  0.2  1.248094  0.532894
4  0.4  0.073055 -1.8  1.691470 -0.386860
5 -0.9 -0.792467  0.1  0.875683 -0.814146
6  0.2 -0.525136 -0.2  0.978148  0.491762
7 -1.1 -0.441595  0.3 -2.717373 -0.953463
8  0.5  1.204263 -0.3 -0.890294 -0.194060
9 -1.0 -0.213722 -0.0 -0.555852 -0.596005

In [5]:
TESTDATA=StringIO(df.to_string(formatters={'A': myformatter, 'C': myformatter}, index=False))

df = pd.read_csv(TESTDATA, sep=",")
df.head()
#↓列がうまく出てないでしょ。

      A         B    C         D         E
0  -1.5  1.236410  0.1  0.598883  1.454858
1  -0.4 -1.124766 -0.9 -0.362187  1.593439
2  -0.0 -0.541570 -0.7 -1.079135 -1.936965
3  -2.4  0.102080  0.2  1.248094  0.532894
4   0.4  0.073055 -1.8  1.691470 -0.386860