In [21]:
# Load in our libraries
import pandas as pd
import numpy as np
import re
import sklearn
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import warnings
warnings.filterwarnings('ignore')

# Going to use these 5 base models for the stacking
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.svm import SVC
from sklearn.kernel_ridge import KernelRidge
from sklearn.cross_validation import KFold;

In [22]:
# Load in the train and test datasets
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Store our passenger ID for easy access
PassengerId = test['PassengerId']
train.head()
#dataset
#http://www.mirandora.com/?p=1804

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
#参考
#https://www.kaggle.com/sinakhorami/titanic/titanic-best-working-classifier

full_data = [train, test]

# Some features of my own that I have added in
# Gives the length of the name
train['Name_length'] = train['Name'].apply(len)
test['Name_length'] = test['Name'].apply(len)
# Feature that tells whether a passenger had a cabin on the Titanic　[Cabin=船室]
train['Has_Cabin'] = train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test['Has_Cabin'] = test["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

# Feature engineering steps taken from Sina
# Create new feature FamilySize as a combination of SibSp and Parch
#[sibsp	乗船している夫婦、兄弟姉妹の数, parch	乗船している親、子供の数]
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
# Create new feature IsAlone from FamilySize
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
# Remove all NULLS in the Embarked column
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
# Remove all NULLS in the Fare column and create a new feature CategoricalFare
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
# Create a New feature CategoricalAge
for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)
train['CategoricalAge'] = pd.cut(train['Age'], 5)
# Define function to extract titles from passenger names
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Create a new feature Title, containing the titles of passenger names
for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
# Group all non-common titles into one single grouping "Rare"
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    
    # Mapping titles
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
    
    # Mapping Embarked
    #[embarked	乗船場所(C = Cherbourg; Q = Queenstown; S = Southampton)]
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] 						        = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] 							        = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] ;

In [24]:
# Feature selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)
train = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)
test  = test.drop(drop_elements, axis = 1)

In [25]:
train.head(3)
# print(train)

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,0,3,1,1,0,0,0,23,0,2,0,1
1,1,1,0,2,0,3,1,51,1,2,0,3
2,1,3,0,1,0,1,0,22,0,1,1,2

In [26]:
# Create Numpy arrays of train, test and target ( Survived) dataframes to feed into our models
y_train = train['Survived'].ravel()
train = train.drop(['Survived'], axis=1)
x_train = train.values # Creates an array of the train data
x_test = test.values # Creats an array of the test data

In [29]:
clf=KernelRidge(kernel='rbf', alpha=1.0, coef0=1, degree=3, gamma=None,).fit(x_train,y_train)
# clf=KernelRidge(alpha=1.0).fit(x_train,y_train)

In [30]:
clf.score(x_train,y_train)

0.60972645329250419

In [31]:
clf.predict(x_test)

array([  1.01065807e-02,   4.39040644e-01,   1.86177903e-01,
         2.09479231e-01,   5.79431833e-01,   1.84935836e-01,
         5.04270434e-01,   3.50566085e-01,   5.00416398e-01,
        -6.84607820e-02,   1.57342658e-03,   1.91590473e-01,
         8.71748299e-01,   8.50212354e-02,   6.42054270e-01,
         8.14550895e-01,   1.21639638e-01,   9.29294473e-02,
         4.64994950e-01,   2.70668539e-01,   2.17836291e-01,
         6.53469542e-01,   6.51775653e-01,   6.35785615e-01,
         2.02314947e-01,   1.40776256e-02,   1.08252175e+00,
         9.29294473e-02,   3.43694508e-01,   3.61769795e-01,
        -3.68883331e-03,   2.62238224e-01,   3.77354845e-01,
         7.10781312e-01,   4.24276027e-01,   4.40137933e-01,
         5.73202651e-01,   6.25837631e-01,   1.93691101e-01,
         5.11180533e-01,   1.71295679e-01,   2.90575346e-01,
         1.39378279e-01,   3.64707228e-01,   9.54151794e-01,
         1.01856971e-01,   3.02654404e-01,   2.67646708e-01,
         7.82272954e-01,   6.15509069e-01,   3.54858088e-01,
         1.96594457e-01,   6.89262962e-01,   6.66910775e-01,
         6.17341365e-01,   5.24833484e-02,  -4.05369968e-02,
         1.31818429e-01,   4.38437088e-03,   8.26249095e-01,
         1.68170194e-02,   1.73736116e-01,   5.17075761e-02,
         7.40640874e-01,   5.57967998e-01,   8.51031165e-01,
         7.02456563e-01,   3.10979885e-01,   6.53802140e-01,
         3.64047763e-01,   8.51445376e-01,   6.25178356e-02,
         4.78424796e-01,   6.53802140e-01,   9.61070314e-01,
         3.72414940e-01,   2.09479231e-01,   7.94808580e-01,
         1.58101862e-01,   6.16571371e-01,   5.43961506e-01,
         1.67006998e-11,   2.03498750e-01,   4.39053243e-02,
         1.73977876e-01,   1.08805714e-01,   4.47592236e-01,
         5.77552264e-01,   6.83393388e-01,   9.38481232e-01,
         1.65334297e-01,   6.25178356e-02,   9.16055950e-01,
         1.82659939e-01,   2.31680628e-01,   1.24179145e-01,
         9.10902407e-15,   1.61385466e-01,   3.37231186e-01,
        -6.87844327e-02,   9.87609177e-01,   1.86936432e-01,
         6.78380759e-02,  -6.62232473e-02,   5.79214386e-01,
         1.05201003e-01,   3.51152043e-02,   1.01065807e-02,
         2.11909179e-01,   3.11969354e-01,   1.65982952e-01,
         8.06235144e-01,   8.69202126e-01,   7.96268543e-01,
         7.46939844e-01,   3.38832792e-01,   2.05586852e-02,
         7.80217661e-01,   4.02051550e-01,   7.26330579e-01,
         6.38242919e-01,   1.27085361e-01,   1.01733368e+00,
         1.97138257e-01,   5.66336449e-02,   5.24085115e-01,
         2.10343708e-01,   5.60929140e-01,   2.33053326e-01,
         5.87352788e-02,   1.50525194e-01,   3.31875131e-01,
         2.73819983e-01,  -2.24969370e-02,   1.69936803e-01,
         1.80225903e-01,   3.25608404e-01,   1.66472416e-01,
         5.72841209e-01,   4.73477636e-02,   6.18444099e-02,
         7.74870847e-01,   3.47991756e-01,   2.30434430e-01,
         3.58139097e-01,  -5.69732777e-02,   2.84676143e-01,
         2.09479231e-01,   2.20764535e-01,   5.53802105e-01,
         9.77137699e-01,   5.75470992e-02,   1.08814959e-01,
         5.58151183e-01,  -2.88307721e-02,   4.39053243e-02,
         8.32650980e-01,   6.67009725e-01,   2.56707007e-01,
         7.39056447e-01,   4.47592236e-01,   6.61694223e-01,
         7.74633357e-01,   6.25178356e-02,   4.52165817e-01,
         6.60912664e-01,   2.95323233e-01,   3.98586859e-02,
         2.58772747e-01,   4.27726730e-01,   8.69207317e-02,
         4.72291840e-02,   4.94557433e-02,   2.05586852e-02,
        -4.09729046e-02,   6.53990687e-01,   6.30006309e-01,
         6.39815712e-01,   4.48817456e-01,   7.05170856e-01,
         1.73736116e-01,   7.85374709e-01,   4.15321655e-01,
         1.93543868e-02,   8.75978950e-01,   1.06274649e-01,
         6.72475955e-01,   1.10216272e-01,  -4.35405704e-03,
         1.68219495e-01,   5.72630934e-02,   2.31933415e-01,
         7.51301026e-01,   8.70047098e-02,   7.79686103e-01,
         1.27663371e-01,   8.41994305e-01,   3.76309441e-01,
         1.58101862e-01,   3.15304872e-01,   4.95421740e-01,
         5.37425235e-01,   4.64774222e-01,   7.59994974e-01,
         1.58866630e-01,   3.30345402e-01,   7.50923292e-01,
         2.20941491e-01,   9.19414297e-01,   6.25178356e-02,
         1.41045307e-01,   3.55513256e-02,   1.14834806e-01,
         7.18072429e-01,   1.62968249e-01,   4.26130302e-01,
         8.38807874e-01,   1.51070768e-01,   9.24419798e-01,
         1.01856971e-01,   8.29311017e-01,   1.20297947e-01,
         9.42274126e-01,   5.02167192e-02,   7.16462219e-01,
         8.53514802e-01,   1.24179145e-01,   6.23059468e-01,
         8.49972948e-02,   3.68996047e-01,   3.80263383e-01,
         8.02098379e-01,   7.86671003e-02,   5.25771946e-02,
         3.64239396e-01,   1.50085328e-01,   3.15374022e-01,
         4.72291840e-02,   5.76141860e-01,   1.03465982e+00,
         7.93546145e-01,   7.36674400e-01,   6.09152483e-01,
         5.15786126e-02,   3.93150800e-01,   4.16601893e-01,
         5.08100664e-01,   8.98220813e-02,   8.34426536e-01,
         7.87970889e-01,   5.87813081e-01,   1.16473171e-01,
         4.24276027e-01,   1.65881362e-01,   6.92517891e-02,
         1.24179145e-01,   2.78673878e-02,   8.40880333e-02,
         7.74957661e-01,   2.10343708e-01,   1.16429687e-01,
         5.02167192e-02,   9.30779909e-01,   6.31924458e-01,
         1.54162404e-01,   9.04545138e-02,   2.68977963e-02,
         7.54745942e-02,   4.84466441e-01,   1.82659939e-01,
         4.78062570e-01,   5.46264532e-02,   9.19553231e-01,
         6.45866216e-01,   1.26706171e-01,   6.71931361e-01,
         2.20941491e-01,   7.17528517e-02,   4.31116082e-02,
         1.73736116e-01,   6.19369409e-01,   7.45568898e-01,
         5.77638106e-01,   6.51922526e-01,   5.78874738e-01,
         6.80350865e-02,  -6.84521636e-02,   3.79546681e-01,
         2.28906319e-01,   1.24501602e-01,   4.41831346e-01,
         3.55414250e-01,   9.29294473e-02,   3.47750834e-01,
         1.23510699e-01,   4.39053243e-02,   5.95675294e-01,
         3.61769795e-01,   3.05964488e-01,   3.51365592e-02,
         1.80225903e-01,   3.54392379e-01,   1.43809143e-01,
         1.82659939e-01,   7.62615383e-01,   4.26886398e-01,
         4.28507592e-01,   7.61433557e-01,   2.03518725e-01,
         5.85728418e-01,   5.87352788e-02,   5.75470992e-02,
         3.51365592e-02,   4.71935121e-01,   6.96695640e-01,
         5.04270434e-01,   4.29300370e-01,   2.02222167e-01,
         1.80225903e-01,   2.58981026e-01,   7.54745942e-02,
         1.93172840e-01,   3.15448808e-01,   1.94176581e-01,
         8.02211181e-01,  -2.56402848e-02,   7.17247355e-01,
         5.67103715e-01,   2.67034573e-01,   1.66472416e-01,
         6.41314987e-01,   4.99086876e-01,   4.72291840e-02,
         8.34045053e-01,  -3.07279769e-02,   3.00938464e-01,
         2.02222167e-01,   2.74171387e-02,   6.17736732e-02,
         4.54010389e-01,   1.83904226e-01,   1.24179145e-01,
        -1.09469734e-04,   4.18892006e-01,   6.51671951e-01,
         4.51798448e-01,   2.02222167e-01,   3.82239197e-01,
         2.48321036e-01,   7.59765291e-01,   1.03138560e+00,
         1.73736116e-01,   8.21190471e-02,   2.64971685e-03,
         3.98267709e-01,   1.51319996e-01,   8.09090544e-01,
         6.80350865e-02,   7.33313768e-02,   8.18483716e-01,
        -3.30074856e-02,   9.83238749e-01,   7.69636056e-01,
         1.82659939e-01,   9.48841691e-01,   5.34939717e-06,
         3.28380798e-01,   4.94843338e-01,   9.38572605e-01,
         4.51915552e-01,   2.72166990e-01,   9.03198879e-01,
         5.10423127e-02,   1.98287919e-01,   8.21527964e-01,
         7.50027359e-01,   6.10687714e-01,   2.20941491e-01,
         6.30302667e-02,  -1.99376840e-02,   8.33194399e-02,
         5.66336449e-02,   7.89024002e-01,   6.45982614e-01,
        -1.70100692e-03,   5.79105579e-01,   7.21140500e-02,
         8.97320172e-02,   5.25771946e-02,   2.85537267e-01,
         3.70528728e-01,   8.74108280e-01,   6.64163808e-01,
         2.33053326e-01,  -2.29938361e-02,   8.30462691e-01,
         5.25771946e-02,   4.59421577e-01,   7.21140500e-02,
         3.09682169e-01,   9.23751353e-01,   3.51989917e-01,
         9.66480999e-01,   2.02571428e-01,   5.60711689e-01,
         6.10889769e-01,   1.14379900e-01,   2.38015972e-01,
         8.77942180e-01,   4.82696525e-01,   6.16571371e-01,
         8.98644166e-01,   4.73342677e-01,   1.08173445e-01,
         7.01967759e-01,  -7.76201529e-02,   6.92517891e-02,
         7.46643320e-01])